## Imports

In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [2]:
super_info = pd.read_csv('Data/superhero_info - superhero_info.csv')
super_info.info()
super_info.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [3]:
super_power = pd.read_csv('Data/superhero_powers - superhero_powers.csv')
super_power.info()
super_power.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

## Data Cleanup

### Hero|Publisher Column

In [4]:
super_info['Hero|Publisher'].head(2)

0            A-Bomb|Marvel Comics
1    Abe Sapien|Dark Horse Comics
Name: Hero|Publisher, dtype: object

In [5]:
# Splitting Hero and Publisher
super_info['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [6]:
# Saving the 2 columns into our DataFrame
super_info[['Hero','Publishers']] = super_info['Hero|Publisher'].str.split('|',expand=True)
super_info.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publishers
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [7]:
# Drop original Column 
super_info = super_info.drop(columns=['Hero|Publisher'])
super_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publishers
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

### Measurements Column

In [8]:
## examining a single value from the coordinates col
meas = super_info.loc[0,"Measurements"]
print(type(meas))
meas

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [9]:
# replace single quotes with double quotes before we use json.loads
meas = meas.replace("'",'"')
meas

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [10]:
## now we can use json.loads
fixed_meas = json.loads(meas)
print(type(fixed_meas))
fixed_meas

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [11]:
## use .str.replace to replace all single quotes
super_info['Measurements'] = super_info['Measurements'].str.replace("'",'"')
## Apply the json.loads to the full column
super_info['Measurements'] = super_info['Measurements'].apply(json.loads)
super_info['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [12]:
## check a single value after transformation
test_meas = super_info.loc[0, 'Measurements']
print(type(test_meas))
test_meas

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [13]:
# Unpack a column of dictionaries into separate columns
hei_wei = super_info['Measurements'].apply(pd.Series)
hei_wei

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [14]:
# concat hei_wei with original dataframe
super_info = pd.concat((super_info, hei_wei), axis = 1)
super_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publishers,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [15]:
# Drop original measurement column
super_info = super_info.drop(columns=['Measurements'])

In [16]:
super_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publishers,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [17]:
super_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publishers  463 non-null    object
 8   Height      463 non-null    object
 9   Weight      463 non-null    object
dtypes: object(10)
memory usage: 36.3+ KB

In [18]:
# rename Columns to include measuremnt in order to remove it from the fields
super_info.rename(
    columns={"Height": "Height(cm)", "Weight": "Weight(kg)"},
    inplace=True,
)
super_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publishers,Height(cm),Weight(kg)
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [19]:
super_info['Height(cm)'] = super_info['Height(cm)'].str.replace(' cm', '')
super_info['Weight(kg)'] = super_info['Weight(kg)'].str.replace(' kg', '')

In [20]:
super_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publishers,Height(cm),Weight(kg)
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0

In [21]:
# change column type to numeric
super_info = super_info.astype({'Height(cm)':'float'})
super_info = super_info.astype({'Weight(kg)':'float'})

In [22]:
super_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publishers  463 non-null    object
 8   Height(cm)  463 non-null    float64
 9   Weight(kg)  463 non-null    float64
dtypes: float64(2), object(8)
memory usage: 36.3+ KB

## One Hot Encoding Powers

In [23]:
super_power.head(2)

  hero_names                                             Powers
0    3-D Man         Agility,Super Strength,Stamina,Super Speed
1     A-Bomb  Accelerated Healing,Durability,Longevity,Super...

In [24]:
# Split the "Powers" column to extract individual powers and create a list of unique powers
all_powers = set(','.join(super_power['Powers']).split(','))

# Create one-hot-encoded columns for each unique power
for power in all_powers:
    super_powers = super_power['Powers'].str.get_dummies(sep=',')
super_power = pd.concat([super_power, super_powers], axis=1)

# Drop the original "Powers" column
super_power.drop(columns=['Powers'], inplace=True)

# Print the resulting DataFrame
super_power

,hero_names,Accelerated Healing,Adaptation,Agility,Animal Attributes,Animal Control,Animal Oriented Powers,Animation,Anti-Gravity,Astral Projection,...,Vision - Thermal,Vision - X-Ray,Vitakinesis,Wallcrawling,Water Control,Weapon-based Powers,Weapons Master,Weather Control,Web Creation,Wind Control
0,3-D Man,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A-Bomb,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Abe Sapien,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Abin Sur,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Abomination,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
663,Ymir,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
664,Yoda,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
665,Zatanna,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
666,Zoom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
super_power.head()

,hero_names,Accelerated Healing,Adaptation,Agility,Animal Attributes,Animal Control,Animal Oriented Powers,Animation,Anti-Gravity,Astral Projection,...,Vision - Thermal,Vision - X-Ray,Vitakinesis,Wallcrawling,Water Control,Weapon-based Powers,Weapons Master,Weather Control,Web Creation,Wind Control
0,3-D Man,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A-Bomb,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Abe Sapien,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Abin Sur,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Abomination,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Merge DataFrames

In [26]:
#merge with our 2 dataframes
final_heros = pd.merge(super_info, super_power, left_on='Hero', right_on='hero_names', how='inner')
final_heros.head(3)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publishers,Height(cm),Weight(kg),...,Vision - Thermal,Vision - X-Ray,Vitakinesis,Wallcrawling,Water Control,Weapon-based Powers,Weapons Master,Weather Control,Web Creation,Wind Control
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0,...,0,0,0,0,0,0,0,0,0,0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0,...,0,0,0,0,0,0,1,0,0,0
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0,90.0,...,0,0,0,0,0,0,0,0,0,0

## Info about the Super Heros

In [27]:
# Create a subset of the DataFrame for superpowers with Super Speed
super_speed_df = final_heros[final_heros['Super Speed'] == True]

# Create a subset of the DataFrame for superpowers without Super Speed
no_super_speed_df = final_heros[final_heros['Super Speed'] == False]

# Calculate the average weight for each subset
average_weight_super_speed = super_speed_df['Weight(kg)'].mean()
average_weight_no_super_speed = no_super_speed_df['Weight(kg)'].mean()

# Print the results
print("Average weight of superpowers with Super Speed:", average_weight_super_speed)
print("Average weight of superpowers without Super Speed:", average_weight_no_super_speed)

Average weight of superpowers with Super Speed: 129.40404040404042
Average weight of superpowers without Super Speed: 101.77358490566037

In [28]:
# Group the data by 'Publishers' and calculate the average height for each publisher
average_height_by_publisher = final_heros.groupby('Publishers')['Height(cm)'].mean()

average_height_by_publisher

Publishers
DC Comics            181.923913
Dark Horse Comics    176.909091
George Lucas         159.600000
Image Comics         211.000000
Marvel Comics        191.546128
Shueisha             171.500000
Star Trek            181.500000
Team Epic TV         180.750000
Unknown              178.000000
Name: Height(cm), dtype: float64